<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:remove="all">Account activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="${greeting}">Hello human!</p>
<p>
    <span th:text="${instruction}">To activate your account please use the following link:</span>
    <a th:href="@{${activateAccountServerHost}(token=${token})}" th:text="${linkText}">Activate account</a>
</p>
<p>
    <span th:text="${regards}">Kind Regards,</span><br/>
    <em th:text="${team}">The Play Quiz Team</em>
</p>
</body>
</html>
